/* padrão todas as telas */

body{
    background-color: rgb(235,235,235);
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.conteudo{
    background-color: #131f2f;
    width: 99%;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 70px;
    margin-right: 10px;
}

.titulo{
    background-color: #131f2f;
    color: white;
    padding: 15px 5px 15px 5px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 2.5px;
    border-radius: 30px;
}

.containerConteudo{
    background-color: white;
    border-radius: 30px;
}

/* botão de voltar se tiver */

.btnVoltar{
    width: 100%;
    padding: 20px;
    color: #e8a34b;
    border-radius: 30px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btnVoltar:hover{
    background-color: #e8a34b;
    color: #fff;
    box-shadow: 0px 8px 15px #c68c41;
}

/* código específico */

h2{
    color: #838383;
    letter-spacing: 1.5px;
    font-size: 35px;
}

h1{
    font-weight: 500;
    padding: 0 10px;
}

.containerConteudo{
    font-family: 'Roboto', sans-serif;
}

.containerForms{
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-style: none;
    padding: 25px 0px 35px;
}

.tituloForm{
    color: #e8a34b;
    margin: 0px 0px 20px;
    font-size: 35px;
}

label{
    margin: 10px;
    font-size: 20px;
    pointer-events: none;
}

.lapisPng{
    height: 20px;
}

.inputNomeTeste{
    width: 300px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-style: none;
    border-radius: 30px;
    font-weight: 500;
    display: initial;
}

.inputNomeTeste:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: text;
    color: black;
}

.btnForms{
    width: 515px;
    padding: 10px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    display: initial;
}

.btnForms:hover{
    background-color: #e8a34b;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #c68c41;
    color: #fff;
}

#sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
    margin-bottom: 35px;
}

.containerTeste{
    margin: 10px;
}

input{
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border-style: none;
    padding: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: 600;
    width:100%;
    display: block;
}

article{
    pointer-events: none;
    border-style: solid;
    border-color: #eff1ee;
    border-radius: 20px;
    border-width: 2px;
    margin: 10px;
}

article:hover{
    border-color: #e8a34b;
    color: #e8a34b;
}

article input{
    pointer-events: auto;
}

article input:hover{
    background-color: #e8a34b;
    box-shadow: 0px 6px 13px #c68c41;
    color: #fff;
}

.testeCriado{
    margin-top: 35px;
}