/* padrão todas as telas */

body{
    background-color: rgb(235,235,235);
    display: flex;
    justify-content: center;
}

.conteudo{
    background-color: #131f2f;
    width: 99%;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 70px;
    margin-right: 10px;
}

.titulo{
    background-color: #131f2f;
    color: white;
    padding: 15px 5px 15px 5px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 2.5px;
    border-radius: 30px;
}

.containerConteudo{
    background-color: white;
    border-radius: 30px;
}

/* botão de voltar se tiver */

.btnVoltar{
    width: 100%;
    padding: 20px;
    color: #e8a34b;
    border-radius: 30px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btnVoltar:hover{
    background-color: #e8a34b;
    color: #fff;
    box-shadow: 0px 8px 15px #c68c41;
}

/* código específico */

.containerForms{
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    
}

.form{
    background-color: white;
    margin: 40px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    letter-spacing: 2.5px;
    border-radius: 30px;
    border-style: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

input{
    width: 300px;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    border-radius: 30px;
    border-style: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

h2{
    margin: 0px 10px 20px 10px;
    color: #e8a34b;
    font-size: 35px;
}

label{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}

.containerEmail{
    display: flex;
    align-items: flex-end;
}

.containerSenha{
    display: flex;
    align-items: flex-end;
}

.emailPng{
    width: auto;
    height: 20px;
    margin: 10px 0 10px 22px;
}

.senhaPng{
    width: auto;
    height: 25px;
    margin: 10px 0 10px 22px;
}

.btnForms{
    margin-top: 15px;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btnVoltar{
    width: 100%;
    padding: 20px;
    color: #e8a34b;
    border-radius: 30px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btnForms:hover {
    background-color: #e8a34b;
    color: #fff;
    box-shadow: 0px 15px 20px #c68c41;
    transform: translateY(-7px);
}

input:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}